<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 padding-bottom">
            <h2>Sve procjene (u ulozi procjenitelja):</h2>
        </div>

        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Naziv procjene</th>
                    <th scope="col">Period od</th>
                    <th scope="col">Period do</th>
                    <th scope="col">Model</th>
                    <th scope="col">Status</th>
                    <th scope="col">Odaberi</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let estimation of estimations">
                    <th scope="row">{{estimation.id}}</th>
                    <td>{{estimation.name}}</td>
                    <td>{{estimation.periodFrom | date: 'dd.MM.yyyy.'}}</td>
                    <td>{{estimation.periodTo | date: 'dd.MM.yyyy.'}}</td>
                    <td>{{estimation.model.name}}</td>
                    <td>{{estimation.status.status}}</td>
                    <td>
                       <jhi-estimations-evaluator-select-evaluatee-modal [estimationId]="estimation.id" [estimationName]="estimation.name"></jhi-estimations-evaluator-select-evaluatee-modal>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
