<div class="container-fluid">
    <div class="col-md-6">
        <h2>Izmijeni procjenu - {{estimation.name}}:</h2>
        <form name="estimationEdit" #estimationEdit="ngForm" autocomplete="off">
            <div class="form-group row">
                <div class="col-md-12">
                    <label for="selectTypeEstimation" class="label-text">Vrsta procjene (model):</label>
                    <ng-select [items]="modelEstimation" [(ngModel)]="selectedModel" bindLabel="name" id="selectTypeEstimation" name="selectTypeEstimation"
                               notFoundText="Nema podataka" required [disabled]="estimation.status.status != 'IN_PROCESS'">
                    </ng-select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label for="inputEstimationName" class="label-text">Naziv procjene:</label>
                    <input type="text" id="inputEstimationName" [(ngModel)]="inputEstimationName" name="estimationName" class="form-control"
                           required [disabled]="estimation.status.status != 'IN_PROCESS'" />
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12">
                    <label>Vrijedi od:</label>
                </div>
                <div class="col-md-5">
                    <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" class="form-control"
                               [(ngModel)]="dateFrom" name="validFrom" required [disabled]="estimation.status.status != 'IN_PROCESS'"
                               (dateChange)="onDateFromChange($event)">
                        <mat-datepicker-toggle matSuffix [for]="picker" class="position-absolute calendar-inside-input"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="col-md-1 text-align-center">
                    <span class="span-date-from-to">-</span>
                </div>

                <div class="col-md-5">

                    <mat-form-field>
                        <input matInput [matDatepicker]="pickerTo" placeholder="Choose a date to" class="form-control"
                               [(ngModel)]="dateTo" name="validTo" [min]="dateFrom" required
                               [disabled]="estimation.status.status != 'IN_PROCESS'"
                               (dateChange)="onDateToChange($event)">
                        <mat-datepicker-toggle matSuffix [for]="pickerTo" class="position-absolute calendar-inside-input"></mat-datepicker-toggle>
                        <mat-datepicker #pickerTo></mat-datepicker>
                    </mat-form-field>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12">
                    <label for="selectStatusForEstimation" class="label-text">Status:</label>
                    <ng-select [items]="statuses" [(ngModel)]="selectedStatus" bindLabel="status" id="selectStatusForEstimation" name="selectStatusForEstimation"
                               notFoundText="Nema podataka" required>
                    </ng-select>
                </div>
            </div>

            <div class="form-group row padding-top">
                <div class="offset-md-9 col-md-3">
                    <button type="submit" class="btn btn-default" (click)="editSelectedEstimation(estimationEdit)" [disabled]="!estimationEdit.valid">Izmijeni procjenu
                    </button>
                </div>
            </div>

        </form>
    </div>
    <simple-notifications></simple-notifications>
</div>

