<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 padding-bottom">
            <h2>Odredite uloge za zaposlenike:</h2>
        </div>

        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Šifra zaposlenika</th>
                    <th scope="col">Ime</th>
                    <th scope="col">Prezime</th>
                    <th scope="col">Radno mjesto</th>
                    <th scope="col">Procjenitelj</th>
                    <th scope="col">Izmjena</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let employee of employees">
                    <th scope="row">{{employee.id}}</th>
                    <td>{{employee.employeeCode}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.workPosition}}</td>
                    <td>
                        <fa-icon [icon]="'times'">
                    </td>
                    <!--  <td><fa-icon [icon]="'edit'"></td>-->
                    <td>
                        <jhi-create-relationship-roles-modal [employeeId]="employee.id" [employeeName]="employee.firstName" [estimation]="estimation"></jhi-create-relationship-roles-modal>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
